words/german_math.txt
words/german_math.txt_stat
words/german50_1.txt
words/german50_1.txt_stat
words/german50_2.txt
words/german100_verbs.txt
words/german100_verbs.txt_stat
words/new20_words.txt
words/new50_german_words_german.txt
words/new50_german_words.txt
words/german300verbs.txt
words/german300verbs.txt_stat
words/german300newspaper.txt
words/german300newspaper.txt_stat
